<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        Name="Miaominal"
        Manufacturer="cppakko"
        Version="$(var.ProductVersion)"
        UpgradeCode="2657DCFA-4ECC-41B2-9AC7-26E91BB5C137"
        Language="1033"
        Scope="perMachine">
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <Icon Id="MiaominalProductIcon" SourceFile="$(var.ProductIcon)" />
        <Property Id="ARPPRODUCTICON" Value="MiaominalProductIcon" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/cppakko/gpui_terminal" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/cppakko/gpui_terminal/releases" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="Miaominal" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="Miaominal" />
        </StandardDirectory>

        <Feature Id="MainFeature" Title="Miaominal" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="StartMenuShortcutComponent" />
        </Feature>
    </Package>

    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="MainExecutableComponent">
                <File
                    Id="MiaominalExecutable"
                    Source="$(var.BinarySource)"
                    KeyPath="yes"
                    Checksum="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="ProgramMenuDir">
            <Component Id="StartMenuShortcutComponent">
                <Shortcut
                    Id="ApplicationStartMenuShortcut"
                    Name="Miaominal"
                    Description="Desktop terminal for SSH, SFTP, and secure configuration management."
                    Target="[INSTALLFOLDER]miaominal.exe"
                    WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
                <RegistryValue
                    Root="HKLM"
                    Key="Software\cppakko\Miaominal"
                    Name="Installed"
                    Type="integer"
                    Value="1"
                    KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="MainExecutableComponent" />
        </ComponentGroup>
    </Fragment>
</Wix>